.smallCalendar {
  margin-top: 1.5rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .monthHeading {
      color: rgb(107, 114, 128);
      font-weight: 600;
      font-size: 14px;
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      .button {
        padding: 0.25rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
        .icon {
          height: 13px;
          width: 13px;
          opacity: 0.83;
        }
      }
    }
  }
  .dayGrid {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(7, minmax(0, 1fr));
    .dayText {
      font-size: 0.675rem;
      line-height: 1.25rem;
      text-align: center;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .normalDay {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      .text {
        font-size: 0.575rem;
        line-height: 1rem;
      }
      .noText {
        font-size: 0.575rem;
        line-height: 1rem;
        color: #ccc;
      }
    }
    .selectedDay {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      color: rgb(255, 255, 255);
      background-color: rgb(59, 130, 246);
      border-radius: 9999px;
      border: 1px solid white;
      .text {
        font-size: 0.575rem;
        line-height: 1rem;
      }
      .noText {
        font-size: 0.575rem;
        line-height: 1rem;
      }
    }
    .currentSelectedDay {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      color: rgb(37, 99, 235);
      font-weight: 700;
      background-color: rgb(219, 234, 254);
      border-radius: 9999px;
      border: 1px solid white;
      .text {
        font-size: 0.575rem;
        line-height: 1rem;
      }
      .noText {
        font-size: 0.575rem;
        line-height: 1rem;
      }
    }
  }
}
