.day {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(229, 231, 235);
  border-right: none;
  border-bottom: none;
  .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    .dayText {
      font-size: 0.675rem;
      line-height: 1rem;
      margin-top: 0.25rem;
    }
    .date {
      font-size: 0.675rem;
      line-height: 1.25rem;
      text-align: center;
      padding: 0.25rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      .light {
        color: #ccc;
      }
    }
    .currentDate {
      font-size: 0.775rem;
      line-height: 1.25rem;
      text-align: center;
      padding: 0.25rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      color: rgb(255, 255, 255);
      background-color: rgb(37, 99, 235);
      border-radius: 9999px;
      width: 1.75rem;
      .light {
        color: #ccc;
      }
    }
  }
  .eventContainer {
    cursor: pointer;
    flex: 1 1 0%;
    max-height: 76px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .indigo-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(199, 210, 254);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .gray-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(229, 231, 235);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .green-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(167, 243, 208);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .blue-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(191, 219, 254);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .red-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(254, 202, 202);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .purple-label {
      color: rgb(75, 85, 99);
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem;
      background-color: rgba(221, 214, 254);
      border-radius: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
  }
}
