.button {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 9999px;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  .logo {
    width: 1.75rem;
    height: 1.75rem;
  }
  .text {
    padding-left: 0.75rem;
    padding-right: 1.75rem;
    font-size: large;
  }
}
