.button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 9999px;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  .logo {
    width: 1.75rem;
    height: 1.75rem;
  }
  .text {
    padding-left: 0.75rem;
    padding-right: 1.75rem;
    font-size: 15px;
    font-weight: 650;
    color: #686767;
  }
}
