.labels {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  .heading {
    color: rgb(107, 114, 128);
    font-weight: 700;
    margin-top: 2.5rem;
  }
  .labelContainer {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    .labelText {
      color: rgb(55, 65, 81);
      text-transform: capitalize;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: row-reverse;
      gap: 0.5rem;
      font-size: 15px;
      user-select: none;
      // .colors {
      //   background-color: transparent;
      //   border-radius: 4px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   cursor: pointer;
      //   width: 1.5rem;
      //   height: 1.5rem;
      //   border: 1px solid #ccc;
      // }
      .indigo-color {
        background-color: rgb(99, 102, 241);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        color: white;
      }
      .gray-color {
        background-color: rgb(107, 114, 128);
        border-radius: 4px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .green-color {
        background-color: rgb(16, 185, 129);
        border-radius: 4px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .blue-color {
        background-color: rgb(59, 130, 246);
        border-radius: 4px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .red-color {
        background-color: rgb(239, 68, 68);
        border-radius: 4px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .purple-color {
        background-color: rgb(139, 92, 246);
        border-radius: 4px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    .checkbox {
      display: none;
    }
  }
}
